.lb-effect-rand-opacity-container * {
     animation-duration: inherit;
}

.toggle-popout {
     animation-name: popout;
}

@keyframes popout {
     35% {
          opacity: 1;
     }
}

.toggle-fadein {
     animation-name: fadein;
}

@keyframes fadein {
     35% {
          opacity: 0;
     }
}