.lb-effect-rand-opacity-container * {
     animation-duration: inherit;
}

.toggle-popout {
     animation-name: lb-effect-rand-opacity-popout;
}

@keyframes lb-effect-rand-opacity-popout {
     35% {
          opacity: 0.7;
     }
}

.toggle-fadein {
     animation-name: lb-effect-rand-opacity-fadein;
}

@keyframes lb-effect-rand-opacity-fadein {
     35% {
          opacity: 0.3;
     }
}