* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}

body,
html {
     height: 100%;
}

body {
     display: flex;
     justify-content: center;
     align-items: center;
}

.board {
     display: flex;
     width: 10%;
     flex-wrap: wrap;
     // display: grid;
     // grid-template-columns: repeat(20, 20px);
     // grid-auto-rows: 20px;
}

.board-item {
     border: 1px solid black;
     background: teal;
     opacity: 0.1;
     flex-basis: 20%;
     min-width: 20%;
     height: 30px;
}